/* mobile first */

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;

  .hero-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

    & > h1 {
      color: #fff;
    }
    & > h1 + h2 {
      color: #fff;
      font-size: 1.3rem;
    }
  }
}

.portfolio-nav {
  display: none;
}

@counter-style animals {
  system: cyclic;
  symbols: "🕊️" "🦋" "🐢" "🐬" "🐳" "🐋" "🐠" "🐡" "🦈" "🐙";
  suffix: " ";
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: var(--border-radius);
    box-shadow: inset var(--box-shadow-base);
    list-style: animals inside;

    span[class="label"] {
      font-weight: bold;
    }

    ul > li:first-child {
      margin-top: 0.5rem;
    }

    ul {
      li {
        box-shadow: var(--box-shadow-base);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  gap: 2rem;

  aside {
    width: 95vw;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-base);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    .my-profile-title {
      text-align: center;
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    figure {
      img {
        width: 144px;
        height: 144px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
      }
      figcaption {
        text-align: center;
        font-size: 0.9rem;
        color: #333;
        margin-top: 0.3rem;
      }
    }
  }

  .main-content {
    width: 95vw;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-base);
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    header {
      text-align: center;
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.table-container {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;

    td,
    th {
      border: 1px solid rgb(190, 190, 190);
      padding: 10px 20px;
    }

    th {
      background-color: rgb(235, 235, 235);
    }

    td {
      text-align: center;
    }

    tr:nth-child(even) td {
      background-color: rgb(250, 250, 250);
    }

    tr:nth-child(odd) td {
      background-color: rgb(245, 245, 245);
    }

    caption {
      padding: 10px;
    }
  }
}

footer {
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-base);
  width: 95vw;

  .footer-text {
    text-align: center;
    font-size: var(--font-size-xs);
    color: #333;
  }
}

/* desktop style */

@media (min-width: 768px) {
  main {
    flex-direction: row;

    aside {
      width: 250px;
      flex-shrink: 0;
    }

    .main-content {
      flex: 1;
    }
  }
}
